{% extends "layout.html" %}
{% block content %}
<form action="/biostats/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldName">Your Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Your Name" name="fldName">
        </div>
        <div class="col">
            <label for="fldAbbreviation">Your Sex</label>
            <input id="fldAbbreviation" type="text" class="form-control" placeholder="Your Sex"
                   name="fldAbbreviation">
        </div>
        <div class="col">
            <label for="fldCountry">Your Age</label>
            <input id="fldCountry" type="text" class="form-control" placeholder="Your Age" name="fldCountry">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldLat">Your Height in inches</label>
            <input id="fldLat" type="text" class="form-control" placeholder="Your Height in inches" name="fldLat">
        </div>
        <div class="col">
            <label for="fldlong">Your Weight</label>
            <input id="fldlong" type="text" class="form-control" placeholder="Your Weight" name="fldLong">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

</form>

{% endblock %}